<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Image Encryption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Image Encryption/Decryption</h1>
    
    <h2>Encrypt Image</h2>
    <form action="{{ url_for('encrypt') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Encrypt</button>
    </form>
    
    <h2>Decrypt Image</h2>
    <form action="{{ url_for('decrypt') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="encrypted_file" accept=".txt" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Decrypt</button>
    </form>

</body>
</html>